@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --color-primary: #2E245E;
    --color-secundary: #6B54DE;
    --grey-100: #333333;
    --grey-50: #828282;
    --grey-0: #F5F5F5;

}

body {
    font-family: 'Miriam Libre';
    font-weight: 400
}
